*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #a84c6a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}

img{
    width: 200px;
    height: 250px;
    border-radius: 100px;
    margin-top: 45px;
    box-shadow: 5px 10px rgb(255, 144, 162);
}

.login-container{
    display: flex;
    gap: 30px;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background: pink;
    box-shadow: 5px 10px rgb(255, 144, 162);
}

h2{
    margin-bottom: 20px;
    font-family: 'Cursive', sans-serif;
}

#pinInput{
    width: calc(100% - 20px);
    padding:10px;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.keypad{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.keypad-button{
    padding: 15px;
    font-size: 1.1em;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 40px;
    background-color: #f9f9f9;
}

.keypad-button:hover{
    background-color: #ff69b4;
    color: #fff;
}

.keypad-button:active{
    background-color: #ff1493;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .login-container{
        flex-direction: column;
        width: 90%;
    }
    img{
        margin-top: 0;
        width: 150px;
        height: 200px;
        align-self: center;
    }

}